* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Play';
}

.main {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
}

a,
a:hover {
    color: inherit;
}

/* Add'l styling to Bootstrap */
.btn-light,
.btn-light:hover {
    background-color: transparent;
    border: none;
}

.return-to-top {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    height: 30px;
    width: 30px;
}

.return-to-top * img {
    height: 100%;
    width: auto;
}

.pokemon-search,
.intro-text,
.pokemon-list {
    margin: 0 auto;
}

.pokemon-search,
.intro-text {
    text-align: left;
    padding: 15px 0;
}

.pokemon-list {
    text-align: center;
    height: 500px;
    overflow: scroll;
}

@media screen and (min-width: 575px) {
    .pokemon-list,
    .intro-text,
    .pokemon-search {
        width: 450px;
    }
}

.loading {
    background-color: red;
    height: fit-content;
    width: 150px;
    padding-top: 10px;
    border-radius: 8px;
    border-style: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    text-align: center;
}

.modal-body > img {
    width: 75%;
}

.stats > p,
.types {
    margin: 0;
}
.stats,
.types {
    display: flex;
    justify-content: center;
}

.stats {
    gap: 18px;
}

.types {
    gap: 4px;
}

.types > img {
    height: 18px;
    width: auto;
}
