* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Play';
}

a, a:hover {
    color: inherit;
}

.return-to-top {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    height: 30px;
    width: 30px;
}

.return-to-top * img {
    height: 100%;
    width: auto;
}

.loading {
    background-color: red;
    height: fit-content;
    width: 150px;
    border-radius: 8px;
    border-style: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    text-align: center;
}

.modal-body > img {
    width: 75%;
}

.stats > p, .types {
    margin: 0;
}
.stats, .types {
    display: flex;
    justify-content: center;
}

.stats {
    gap: 18px;
}

.types {
    gap: 4px;
}

.types > img {
    height: 18px;
    width: auto;
}