* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Play';
}

/* a:hover,
button:hover {
    cursor: pointer;    
} */

/* #inputWrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;

    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 4px;
}

#inputWrapper:hover {
    border-color: gainsboro;
    background-color: gainsboro;
}

.main-search {
    font-family: inherit;
    padding: 4px;
    border: none;
    flex-grow: 1;
    margin-right: 4px;
    background-color: transparent;
}

.icon-container {
    display: flex;
}

.search-icon {
    height: 24px;
} */

/* ul,
li {
    display: flex;
}

ul {
    flex-direction: column;
    gap: 8px;
    
    list-style: none;
    padding: 0;
}

.pokemonListItem {
    height: 50px;
    margin: 0 auto;
    background-color: gainsboro;
    font-family: inherit;
    border-radius: 8px;
    border: none;
    transition: scale 150ms;
}

.pokemonListItem:hover {
    scale: 1.03;
}

@media screen and (max-width: 500px) {
    #inputWrapper {
        width: 90vw;
        height: 50px;
    }
    /* .main-search {
        width: 80vw;
        border-radius: 24px;
    } */ /*
    .pokemonListItem {
        width: 90vw;
        height: 50px;
    }
}

@media screen and (min-width: 500px) {
    #inputWrapper {
        min-width: 50vw;
    }
    .pokemonListItem {
        min-width: 50vw;
    }
} */

.loading {
    background-color: red;
    height: fit-content;
    width: 150px;
    border-radius: 8px;
    border-style: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    text-align: center;
}

/* #modal-container {
    display: none;
}

#modal-container.is-visible {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000066;
    z-index: 999;
    overflow: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin: auto;
    gap: 18px;
    padding: 18px;
    border-radius: 8px;
    background-color: #fff;
}

@media screen and (max-width: 500px) {
    .modal {
        width: 70%;
    }
}

@media screen and (min-width: 500px) {
    .modal {
        width: 35%;
    }
}

.hide-modal {
    position: absolute;
    right: 18px;
    border: none;
    padding: 0;
    width: fit-content;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #bbb;
} */

.stats > p, .types {
    margin: 0;
}
.stats, .types {
    display: flex;
    justify-content: center;
}

.stats {
    gap: 18px;
}

.types {
    gap: 4px;
}

.types > img {
    height: 18px;
    width: auto;
}